
@media (max-width:460px) {
    section.web-body h2{
        font-size: 17px;
    }

    footer table thead tr th{
        font-size: 10px !important;
    }

    footer table tbody button{
        font-size: 11px !important;
    }

    
}

@media (max-width:355px){
    footer table tbody button{
        font-size: 8px !important;
    }

}